[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tlars"]
	path = tlars
	url = https://github.com/jasinmachkour/tlars
[submodule "TRexSelector"]
	path = TRexSelector
	url = https://github.com/cran/TRexSelector
